<link rel="stylesheet" href="styles.css">
<script src="main.js"></script>
<title>Ivy Puzzle Hub</title>
<div class="main">
    <div class="info">
        <div class="title">
            Ivy Puzzle Hub
        </div>     
        <div class="desc">
            Welcome to the home of the Ivy Puzzles.<br/>
            Click the buttons to access the corresponding trailhead.
        </div>
    </div>
    <div class="buttons">
        <a href="https://bit.ly/IP1_start" class="button">Ivy Puzzle 1</a>
        <a href="https://bit.ly/IP2_SystemStart" class="button">Ivy Puzzle 2</a>
        <a href="https://bit.ly/IP3_InitiateTesting" class="button">Ivy Puzzle 3</a>
        <a href="https://bit.ly/IP4_ReadyOrNot" class="button">Ivy Puzzle 4</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="button">Ivy Puzzle 5</a>
        <a href="https://bit.ly/IP6_ReadySteadyGo" class="button">Ivy Puzzle 6</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="button">Ivy Puzzle 7</a>
        <a class="button disabled">Ivy Puzzle 8</a>
        <a class="button disabled">Ivy Puzzle 9</a>
        <a class="button disabled">Ivy Puzzle X</a>
    </div>
</div>