body, html {
  overflow: hidden;
}

.main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: auto;
  height: 100%;
  width: 100%;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #054d20;
  font-family: monospace;
}
.main .info {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main .info .title {
  font-size: 2em;
  color: #46f285;
  text-shadow: #011b0b 4px 4px;
}

.main .info .desc {
  font-size: 0.55em;
  color: #d5fce3;
  margin-bottom: 2rem;
}
.main .buttons {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.button {
  background-color: #0fdc5a;
  border: 2px solid black;
  color: #000;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 8px;
  transition-duration: 0.5s;
  display: block;
  width: 25%;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.button:not(:last-child){
  margin-bottom: 1rem;
}
.button:hover{
  background-color: white;
}